body {
font-family:"Roboto", sans-serif;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
.span-logo{font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: #4D5AE5;
}
             /*------Header-------*/
.header {
}
.header-navigation {
}
.header-logo {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
  
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */color: #2E2F42;
  
  
}
.header-link {
}
 /*------Adress-------*/
.adress {
}
.adress-list {
}
.adress-item {
  font-style: normal;
  font-size: 16px;
  line-height:1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  
}
.adress-mail {
}
.adress-tel {
}
        /*------Hero-------*/
.hero {
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: #2E2F42;
}
.hero-btn {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  }
             /*-----information--------*/
.information {
}
.hidden{

}
.information-list {
}
.information-item {
}
.information-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2E2F42;
}
.information-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
/*-----Doing--------*/
.doing {
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
   text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: #2E2F42;
  
}
.doing-list {
}
.doing-item {
}
/*-----Team--------*/
.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
   /* NAVY BLUE */
   color: #2E2F42;
}
.team-list {
}
.team-item {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2E2F42;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  }
  /*-----Footer--------*/
.footer {
}
.footer-logo {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
}
.footer-tagline {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* CORNFLOWER */
  color: #E7E9FC; 
}
.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* IRIS */
  color: #4D5AE5;
  background: #F4F4FD;
  
}
.portfolio-btn-all{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #404BBF;
}
.portfolio-list {
}
.portfolio-examples {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2E2F42;
  }